@page
@using DLCS.Core.Collections
@using Portal.Extensions
@model Portal.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success" role="alert">@TempData["SuccessMessage"].ToString()</div>
}
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"].ToString()</div>
}

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" required>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create new user</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @if (Model.PortalUsers.IsNullOrEmpty())
        {
            <div class="alert alert-info" role="alert">
                No Portal Users found for customer
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Email Address</th>
                    <th scope="col">Created</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var m in Model.PortalUsers)
                {
                    <tr>
                        <td>@m.Email</td>
                        <td>@m.Created.GetDefaultTime()</td>
                        <td>@m.Enabled</td>
                        <td>
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@m.Id"
                               class="delete-user" data-toggle="tooltip" title="Delete user @m.Email">
                                <span data-feather="x">delete @m.Email</span>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts 
{
    <script type="text/javascript">
        
        function deleteUser(evt){            
            if (window.confirm("Delete user? Are you sure?")){
                let url = this.getAttribute("href");
                let row = this.closest('tr');
                
                fetch(url, {method: 'DELETE',})
                    .then(r => r.json())
                    .then(data => {
                        console.log(data);
                        row.remove() 
                    })                        
                    .catch(err => alert(err));
            }
            
            evt.preventDefault();
        }
        
        let deleteLink = document.getElementsByClassName("delete-user");
        for (let i = 0; i < deleteLink.length; i++) {
            deleteLink[i].addEventListener('click', deleteUser, false);
        }
    </script>
}
