@page "{batch}"
@using Hydra
@using Portal.Extensions
@using AssetFamily = DLCS.HydraModel.AssetFamily
@model Portal.Pages.Batches.Index

@{
    var batchId = Model.Batch.Id.GetLastPathElement();
    var percentComplete = Math.Round(Model.Batch.Count > 0 ? (double)Model.Batch.Completed / (double)Model.Batch.Count * 100.0 : 1.0);
    var progressPct = Model.Batch.Finished.HasValue ? 100 : percentComplete;
    ViewData["Title"] = $"Batch {batchId} - {Model.Batch.Count} image{(Model.Batch.Count == 1 ? null : "s")}";
}

<div class="card w-100">
    <div class="card-body">
        @if (Model.Batch.Errors > 0)
        {
            <div class="row px-2">
                <div class="alert alert-danger" role="alert">
                    <i class="me-2" data-feather="alert-circle"></i><strong>Error!</strong>
                    This batch contains @Model.Batch.Errors image@(Model.Batch.Errors > 1 ? "s" : null) with errors
                </div>
            </div>
        }
        <div class="row mb-2">
            <div class="col">
                Completion: @percentComplete% (@Model.Batch.Completed/@Model.Batch.Count)
            </div>
            <div class="col">
                <div class="progress h-100">
                    <div class="progress-bar bg-success" role="progressbar" style="width: @progressPct%;" aria-valuenow="@progressPct" aria-valuemin="0" aria-valuemax="100">@progressPct%</div>
                </div>
            </div>
            <div class="col">
                @if (Model.Batch.Finished > DateTime.MinValue)
                {
                    <span class="badge bg-success float-end">Finished</span>
                }
                else if (Model.Batch.Completed == 0)
                {
                    <span class="badge bg-primary float-end">Waiting</span>
                }
                else if (Model.Batch.Errors == 0)
                {
                    <span class="badge bg-warning float-end">In progress</span>
                }
                else
                {
                    <span class="badge bg-danger float-end">Errors</span>
                }
            </div>
        </div>
        @if (Model.Batch.Finished != null)
        {
            <span>Completed: @Model.Batch.Finished.GetDefaultTime()</span>
        }
        else
        {
            <hr/>
            <div class="row mb-1">
                <div class="col">
                    <div id="test-button" class="btn btn-sm btn-warning" onclick="TestBatch()">Test if superseded</div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row m-1 justify-content-center">
    <div class="row">
        @foreach (var image in Model.Images.Members)
        {
            <div class="p-4 d-flex flex-column" style="width:20%; min-width: 128px;">
                <a asp-page="/Images/Index" asp-route-space="@image.Space" asp-route-image="@image.ModelId" class="flex-grow-1 align-items-center d-flex mb-1">
                    @if (!string.IsNullOrEmpty(image.Error) || !Model.Thumbnails.ContainsKey(image.ModelId))
                    {
                        <div class="card m-auto">
                            <div class="card-body">
                                <i class="text-secondary" data-feather="alert-triangle"></i>
                            </div>
                        </div>
                    }
                    else if (image.Ingesting == true)
                    {
                        <div class="card m-auto">
                            <div class="card-body">
                                <div class="spinner-border text-muted m-auto"></div>
                            </div>
                        </div>   
                    }
                    else if (image.Family == AssetFamily.Timebased)
                    {
                        <div class="card m-auto">
                            <div class="card-body">
                                <i class="text-secondary" data-feather="film"></i>
                            </div>
                        </div>                           
                    }
                    else if (image.Family == AssetFamily.File)
                    {
                        <div class="card m-auto">
                            <div class="card-body">
                                <i class="text-secondary" data-feather="save"></i>
                            </div>
                        </div>                           
                    }
                    else if (image.Roles.Any())
                    {
                        <div class="card m-auto">
                            <div class="card-body">
                                <i class="text-secondary" data-feather="lock"></i>
                            </div>
                        </div>  
                    }
                    else
                    {
                        <img src="@Model.Thumbnails[image.ModelId]" class="img-thumbnail rounded mx-auto d-block"/>  
                    }
                </a>
                <small class="d-inline-block text-truncate text-muted text-center w-100">
                    @Model.GetImageReference(image)
                </small>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="superseded-status-modal" tabindex="-1" aria-labelledby="supersededStatusLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div id="success" hidden>
                <div class="modal-header border-0">
                     <h5 class="modal-title">Superseded</h5>
                 </div>
                 <div class="modal-body">
                     Batch has been superseded and marked.
                 </div>
            </div>
            <div id="fail" hidden>
                  <div class="modal-header border-0">
                       <h5 class="modal-title">Not superseded</h5>
                   </div>
                   <div class="modal-body">
                       Batch does not appear to have been superseded. There may be some other kind of issue with one of the images it contains.
                   </div>
              </div>
            <div class="modal-footer border-0 py-1">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    <script>
        function TestBatch() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Test", "Batch", new { batch = batchId })',
                success: function (data, status) { 
                   let testBtn = $('#test-button');
                   let testSuccessMsg = $('#superseded-status-modal #success');
                   let testFailMsg = $('#superseded-status-modal #fail');
                     
                    if (data === true) {
                        testBtn.text("Superseded");
                        testBtn.removeClass('btn-warning');
                        testBtn.addClass('btn-info');
                        testFailMsg.attr("hidden", true);
                        testSuccessMsg.attr("hidden", false);
                    } 
                    else {
                        testBtn.text("Just tested");
                        testBtn.removeClass('btn-warning');
                        testBtn.addClass('btn-light');
                        testFailMsg.attr("hidden", false);
                        testSuccessMsg.attr("hidden", true);
                    }
                    $('#superseded-status-modal').modal('show'); 
                }    
            });
        }
    </script>
}