@using Portal.ViewComponents
@model Portal.ViewComponents.PagerModel

<nav aria-label="Paging">
  <ul class="pagination justify-content-center">
    @if (Model.Previous == null)
    {
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    }
    else
    {
      <li class="page-item"><a class="page-link" href="@Model.Previous.Href">Previous</a></li>
    }
    @foreach (Link link in Model.Links)
    {
      if (link.Current)
      {
        <li class="page-item active">
          <span class="page-link">@link.Page</span>
        </li>
      }
      else
      {
        <li class="page-item"><a class="page-link" href="@link.Href">@((object) link.Page ?? "...")</a></li>
      }
    }
    @if (Model.Next == null)
    {
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    }
    else
    {
      <li class="page-item"><a class="page-link" href="@Model.Next.Href">Next</a></li>
    }
  </ul>
</nav>